---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Images
import { Image } from "astro:assets";
import A1 from "@/images/projects/a/1.gif";
import A2 from "@/images/projects/a/2.jpg";
import A3 from "@/images/projects/a/3.jpg";
import B1 from "@/images/projects/b/1.jpg";
import B2 from "@/images/projects/b/2.jpg";
import b3 from "@/images/projects/b/3.jpg";
const projects = [
  {
    year: "2024",
    title: "https://anchorkjv.com/",
    description: `Commissioned to develop a full stack website for a church. Coded in react and other technologies, all hosted on vercel.`,
    images: [], // No images for this project
  },
];
---

<section>
  <Wrapper variant="base">
    <Text
      tag="h3"
      variant="textBase"
      class="font-semibold text-zinc-900 dark:text-zinc-200"
    >
      Freelance Projects
    </Text>
    {
      projects.map((project) => (
        <div class="grid grid-cols-1 mt-8 gap-4 md:grid-cols-2 lg:grid-cols-5">
          {/* Year */}
          <Text tag="span" variant="textSM" class="font-medium text-zinc-500">
            {project.year}
          </Text>

          {/* Project Content */}
          <div class="lg:col-span-4">
            <Text
              tag="h4"
              variant="textBase"
              class="font-semibold text-zinc-900 dark:text-zinc-200 "
            >
              {project.title}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="text-zinc-600 dark:text-zinc-500  mt-2"
            >
              {project.description}
            </Text>

            {/* Images */}
            <div class="flex flex-wrap gap-2 mt-4">
              {project.images.map((image, index) => (
                <Image
                  src={image.src}
                  alt={image.alt}
                  width="1000"
                  height="1000"
                  class="w-32 shadow rounded object-cover"
                />
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </Wrapper>
</section>
